 <aside class="sidebar">


  
      <div class="sidebar-header d-flex align-items-center justify-content-between">
        <a class='d-flex align-items-center text-decoration-none' href='index-2.html'>



          <div class="logo-icon bg-primary text-white d-flex align-items-center justify-content-center rounded me-2">
            <i data-lucide="zap" class="fs-18"></i>
          </div>
          <h4 class="logo-text mb-0 fw-bold text-primary">Tarent</h4>
        </a>
        <div class="form-check mb-0 d-none d-lg-block sidebar-pin-wrapper">
          <input class="form-check-input" type="radio" role="switch" id="sidebar-pin-checkbox" checked title="Pin Sidebar">
        </div>
      </div>
      <div class="sidebar-menu">
        <ul class="nav flex-column">
    
          <!-- Dashboards -->
          <li class="nav-item nav-category mb-2">
            <small class="text-uppercase text-muted fw-bold" > Dashboards  </small>
          </li>
          <li class="nav-item mb-1 position-relative">
            <a href="#dashboardsCollapse" data-bs-toggle="collapse"
              class="nav-link d-flex justify-content-between align-items-center" aria-expanded="false">
              <div class="d-flex align-items-center">
                <i data-lucide="layout-dashboard" class="nav-icon"></i>
                <span class="nav-text" > Dashboards</span>
              </div>
              <i data-lucide="chevron-down" class="dropdown-icon"></i>
            </a>
            <div class="collapse sidebar-submenu" id="dashboardsCollapse">
              <div class="sidebar-hover-title" >Administrateur</div>
            </div>
          </li>
    
          <!-- Components -->
          <li class="nav-item nav-category mb-2">
            <small class="text-uppercase text-muted fw-bold" >Menu</small>
          </li>
    
   <!-- Administrateur -->
<li class="nav-item mb-1 position-relative">
  <a href="#adminCollapse" data-bs-toggle="collapse"
    class="nav-link d-flex justify-content-between align-items-center" aria-expanded="false">
    <div class="d-flex align-items-center">
      <i data-lucide="shield-check" class="nav-icon"></i>
      <span class="nav-text">Administrateur</span>
    </div>
    <i data-lucide="chevron-down" class="dropdown-icon"></i>
  </a>
  <div class="collapse sidebar-submenu" id="adminCollapse">
    <div class="sidebar-hover-title">Administrateur</div>
    <ul class="nav flex-column">
      <li class="nav-item"><a class='nav-link sub-link' href='listadmin'>Liste des administrateurs</a></li>
      <li class="nav-item"><a class='nav-link sub-link' href='ajouteradmin'>Ajouter un Administrateur</a></li>
    </ul>
  </div>
</li>
    
<!-- Candidat -->
<li class="nav-item mb-1 position-relative">
  <a href="#candidatCollapse" data-bs-toggle="collapse"
    class="nav-link d-flex justify-content-between align-items-center" aria-expanded="false">
    <div class="d-flex align-items-center">
      <i data-lucide="user-round" class="nav-icon"></i>
      <span class="nav-text">Candidat</span>
    </div>
    <i data-lucide="chevron-down" class="dropdown-icon"></i>
  </a>
  <div class="collapse sidebar-submenu" id="candidatCollapse">
    <div class="sidebar-hover-title">Candidat</div>
    <ul class="nav flex-column">
      <li class="nav-item"><a class='nav-link sub-link' href='listcandidat'>Liste des Candidats</a></li>
    </ul>
  </div>
</li>
    
       <!-- Jeune Diplômé -->
<li class="nav-item mb-1 position-relative">
  <a href="#jeuneDiplomeCollapse" data-bs-toggle="collapse"
    class="nav-link d-flex justify-content-between align-items-center" aria-expanded="false">
    <div class="d-flex align-items-center">
      <i data-lucide="graduation-cap" class="nav-icon"></i>
      <span class="nav-text">Jeune Diplômé</span>
    </div>
    <i data-lucide="chevron-down" class="dropdown-icon"></i>
  </a>
  <div class="collapse sidebar-submenu" id="jeuneDiplomeCollapse">
    <div class="sidebar-hover-title">Jeune Diplômé</div>
    <ul class="nav flex-column">
      <li class="nav-item"><a class='nav-link sub-link' href='listjeunediplome'>Liste des Jeunes Diplômés</a></li>
    </ul>
  </div>
</li>
    <!-- Responsable Entreprise -->
<li class="nav-item mb-1 position-relative">
  <a href="#responsableCollapse" data-bs-toggle="collapse"
    class="nav-link d-flex justify-content-between align-items-center" aria-expanded="false">
    <div class="d-flex align-items-center">
      <i data-lucide="building" class="nav-icon"></i>
      <span class="nav-text">Responsable Entreprise</span>
    </div>
    <i data-lucide="chevron-down" class="dropdown-icon"></i>
  </a>
  <div class="collapse sidebar-submenu" id="responsableCollapse">
    <div class="sidebar-hover-title">Responsable Entreprise</div>
    <ul class="nav flex-column">
      <li class="nav-item"><a class='nav-link sub-link' href='listresponsableentreprise'>Liste des Responsables</a></li>
    </ul>
  </div>
</li>
    
          <!-- Liste des Offres -->
          <li class="nav-item mb-1 position-relative">
            <a href="#jobPortalCollapse" data-bs-toggle="collapse"
              class="nav-link d-flex justify-content-between align-items-center" aria-expanded="false">
              <div class="d-flex align-items-center">
                <i data-lucide="briefcase" class="nav-icon"></i>
                <span class="nav-text" >Offres</span>
              </div>
              <i data-lucide="chevron-down" class="dropdown-icon"></i>
            </a>
            <div class="collapse sidebar-submenu" id="jobPortalCollapse">
              <div class="sidebar-hover-title" data-i18n="t-job-portal">Job Portal</div>
              <ul class="nav flex-column">
                <li class="nav-item"><a class='nav-link sub-link'  href='listoffer'>Liste des Offres</a></li>
                <li class="nav-item"><a class='nav-link sub-link'  href='listoffer'>Ajouter des Offres</a></li>
               
              </ul>
            </div>
          </li>
   <!-- Chat / Contact -->
<li class="nav-item mb-1 position-relative">
  <a href="#contactCollapse" data-bs-toggle="collapse"
    class="nav-link d-flex justify-content-between align-items-center" aria-expanded="false">
    <div class="d-flex align-items-center">
      <i data-lucide="message-square" class="nav-icon"></i>
      <span class="nav-text">Contact</span>
    </div>
    <i data-lucide="chevron-down" class="dropdown-icon"></i>
  </a>
  <div class="collapse sidebar-submenu" id="contactCollapse">
    <div class="sidebar-hover-title">Contact</div>
    <ul class="nav flex-column">
      <li class="nav-item"><a class='nav-link sub-link' href='listcontact'>Liste des Messages</a></li>
    </ul>
  </div>
</li>

<!--postulation-->
<li class="nav-item mb-1 position-relative">
  <a href="#postulationCollapse" data-bs-toggle="collapse"
    class="nav-link d-flex justify-content-between align-items-center" aria-expanded="false">
    <div class="d-flex align-items-center">
      <i data-lucide="file-check" class="nav-icon"></i>
      <span class="nav-text">Postulations</span>
    </div>
    <i data-lucide="chevron-down" class="dropdown-icon"></i>
  </a>
  <div class="collapse sidebar-submenu" id="postulationCollapse">
    <div class="sidebar-hover-title">Postulations</div>
    <ul class="nav flex-column">
      <li class="nav-item"><a class='nav-link sub-link' href='listpostulation'>Liste des Postulations</a></li>
      <li class="nav-item"><a class='nav-link sub-link' href='ajouterpostulation'>Ajouter une Postulation</a></li>
    </ul>
  </div>
</li>



    
        </ul>
      </div>
      <div class="sidebar-footer border-top mt-auto">
        <div class="dropdown dropup">
          <a href="#" class="d-flex align-items-center text-decoration-none w-100" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div
              class="avatar avatar-sm bg-primary text-white rounded-circle d-flex align-items-center justify-content-center flex-shrink-0 position-relative">
              <span class="fw-semibold fs-16">{{userDetails.nom[0]}}</span>
              <span
                class="position-absolute top-100 start-100 translate-middle p-1 bg-success border border-white border-2 rounded-circle">
                <span class="visually-hidden">Online</span>
              </span>
            </div>
            <div class="flex-grow-1 overflow-hidden pe-2">
              <h6 class="mb-0 text-truncate fw-semibold text-body fs-14">{{ userDetails.nom }} {{ userDetails.prenom }}</h6>
              <small class="text-muted text-truncate d-block fs-12">{{ userDetails.email }}</small>
            </div>
            <i data-lucide="chevron-up" class="text-muted fs-16 flex-shrink-0"></i>
          </a>
          <ul class="dropdown-menu w-100 shadow-lg border mb-2 pb-0 pt-2 rounded-3">
            <li>
              <a class='dropdown-item d-flex align-items-center gap-2 py-2' href='profile.html'>
                <i data-lucide="user" class="fs-16"></i> Profile
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight">
                <i data-lucide="settings" class="fs-16"></i> Settings
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item text-danger d-flex align-items-center gap-2 py-2" href="#">
                <i data-lucide="log-out" class="fs-16"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>  